[user]
   name     = Siphesihle Mhlongo
   email    = sihlecodes@gmail.com
[github]
   user     = sihlecodes
[credential]
	helper = store
[pull]
	rebase = false
[core]
	filemode = false
	autocrlf = input
[http]
   postBuffer = 1048576000
	lowSpeedTime = 99999
   version = HTTP/1.1
   sslVerify = false

[alias]
   s        = status --show-stash
   ss       = status --short --branch
   set      = config --global
   edit     = config --global -e
   rmc      = rm --cached
   l        = log --graph
   ll       = log --graph -p --stat
   unstage  = reset HEAD --
   release  = !git archive master --format=zip > release-$(git describe master).zip
   recommit = commit --amend

; Steampunklights Git theme
[color "advice"]
   hint = 160 bold
[color "branch"]
   local           = 95
   current         = 105
   remote          = 197 bold
   plain           = 242
   upstream = 197 bold
[color "diff"]
   frag            = 105
   old             = 197
   oldMoved        = 197
   oldMovedAlternative = 197
   new             = 154
   newMoved        = 220
   newMovedAlternative = 220
   context         = 242
   whitespace      = white 161
   meta            = 37
[color "decorate"]
   branch          = 105
   tag             = 111
   separator       = 220
   HEAD            = 197 bold
   remoteBranch    = 197 bold
   stash           = 220
[color "interactive"]
   prompt=105
   header=95
   error=white 161
   help=220
[color "status"]
   updated         = 197
   changed         = 197
   added           = 154
   untracked       = 105
   branch          = 105 bold
   header          = 242
   localBranch     = 105 bold
   remoteBranch     = 197

