*.sw[pon]
*~
*info
.netrwhist
**/.git/
.vim/session/
*.sug
*.spl
*.log
*.idx
*.bak

__pycache__/
cache/
crontabs/cron.update

.tmux/plugins/

.config/nvim/lazy/
.config/nvim/mason/
.config/nvim/undo
lazy-lock.json

.config/inkscape/cphistory.xml
.config/inkscape/dialogs-state-ex.ini

.config/godot/recent_dirs
.config/godot/projects

.config/aseprite/files/
.config/aseprite/sessions/

.config/PrusaSlicer/ArchiveRepositoryManifest.json
.config/PrusaSlicer/vendor/

.config/noctalia/plugins
.config/inkscape/fontcollections/
